{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [1, "single"],
    "no-unused-vars": [1],
    "no-undef": [2],
    "comma-dangle": [2, "never"],
    "eol-last": [2],
    "no-trailing-spaces": [2],
    "one-var": [2, "never"],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "space-before-function-paren": ["error", {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
    }],
    "space-before-blocks": [1, "always"],
    "eqeqeq": [2]
  }
}
